{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

{{ include('navbar.html.twig') }}

<body>
    <div class="example-wrapper">
        <h1>Hello {{ controller_name }}! ✅</h1>

        This friendly message is coming from:
        <ul>
            <li>Your controller at <code>C:/Users/lwrobel/Desktop/projects/budgetto/src/Controller/HomeController.php</code></li>
            <li>Your template at <code>C:/Users/lwrobel/Desktop/projects/budgetto/templates/home/index.html.twig</code></li>
        </ul>
    </div>
</body>
{% endblock %}
